
virtualBank/build/**

trustless_clearing/.texpadtmp/**

trustless_clearing/*.out
trustless_clearing/*.log
trustless_clearing/*.pdf
trustless_clearing/*.gz
trustless_clearing/*.aux
trustless_clearing/*.lol

*_bk.md
*.pdf

*.toc

virtualBank/node_modules/**
virtualBank/package-lock.json
